.nav > * {
    float: left;
    margin: 20px;
}

.nav:after, .sidenav:after {
    content: '';
    display: block;
    clear: both;
}

.tab.active, .sidenav-item.active {
    border: 1px solid black;
}

.tab {
    cursor: pointer;
}

.content-queries, .content-triggers {
    display: none;
}

.sidenav-item {
    margin: 10px;
    cursor: pointer;
    float: left;
}

.table td, .table th {
    padding: 10px 15px;
    border: 1px black solid;
}

.table input {
    width: 50px;
}s